<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>temp converter</title>
    <link rel="stylesheet" href="styles.css">
  </head>
<body ng-app="myApp" ng-controller="myCtrl">
  <form>
  <label>Enter a number and convert to Celsius:
    <input type="number" ng-model="tempF" placeholder="temp F">
    <button type="button" ng-click="submit(tempF)">Convert to C</button>
  </label></br>

  <convert-directive ng-repeat="temperature in temperaturesC"></convert-directive>

  <label>Enter a number and convert to Fahrenheit:
    <input type="number" ng-model="tempC" placeholder="temp C">
    <button type="button" ng-click="submit1(tempC)">Convert to F</button>
  </label>

  </form>

   <convert-directive-b ng-repeat="temperature in temperaturesF"></convert-directive-b>


  <script src="angular.min.js"></script>
  <script src="script.js"></script>
  <script src="controller.js"></script>

  </body>
</html>
