<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>temp converter</title>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <input type="number" name="" value="" ng-model="temp" placeholder="temp">
    <button type="button" ng-click="submit(temp, unit)">Convert to C</button></br>

    <input type="number" name="" value="" ng-model="temp" placeholder="temp">
    <button type="button" ng-click="submit(temp, unit)">Convert to F</button>

    <convert-directive ng-repeat="convert in convert"></convert-directive>


  <script src="angular.min.js"></script>
  <script src="script.js"></script>
  <script src="controller.js"></script>

  </body>
</html>
